<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" [hidden]="!showSkip" (click)="onSkip()">跳过</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides (ionSlideWillChange)="onSlideWillChange($event)" style="height: 100%;">
    <ion-slide>
      <div class="guide-img">
        <img src="../../../assets/img/guide/splsh_one.png" alt="">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="guide-img">
        <img src="../../../assets/img/guide/splsh_two.png" alt="">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="guide-img">
        <img src="../../../assets/img/guide/splsh_three.png" alt="">
      </div>
      <ion-grid class="fixed-bottom">
        <ion-row>
          <ion-col>
            <ion-button color="primary" fill="outline" expand="block" routerLink="/passport/login">登录</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="primary" expand="block" fill="outline" routerLink="/passport/signup">注册</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>