<ion-header class="ion-no-border">
  <ion-toolbar color="syzj">
    <ion-title>关于我们</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list inset="true">
    <ion-item lines='none'>
      <ion-label>学号</ion-label>
      <ion-note slot="end">200327097</ion-note>
    </ion-item>
    <ion-item lines='full'>
      <ion-label>姓名</ion-label>
      <ion-note slot="end">许舒玲</ion-note>
    </ion-item>
  </ion-list>

  <ion-list inset='true'>
    <ion-item lines='none'>
      <ion-label>已完成功能</ion-label>
    </ion-item>
    <ion-item lines='none'>
      <ion-text lines='none'>
        <li><b>欢迎界面：</b>若是第一次登录则进入欢迎页面,否则进入注册页</li>
        <li><b>注册界面：</b>用手机号和邮箱进行注册；注册后存储在本地；随机生成验证码（倒计时）；MD5加密；短信发送</li>
        <li><b>登录界面：</b>判断用户上次登陆时间，若超过5分钟则重新登陆；对比本地数据进行用户登陆</li>
        <li><b>版权声明：</b>封装版权声明功能</li>
        <li><b>主页界面：</b>在主页显示用户信息</li>
        <li><b>我的界面：</b>显示店铺名以及电话号码</li>
        <li><b>修改密码界面：</b>修改密码</li>
        <li><b>店铺设置界面：</b>修改店铺信息</li>
        <li><b>商品分类相关界面：</b>商品分类浏览、编辑商品分类</li>
        <li><b>新增商品界面：</b>新增商品信息、访问相册获取图片、访问摄像头、扫描二维码</li>
        <li><b>商品管理相关界面：</b>商品出入库、出入库记录查看</li>
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-list inset='true'>
    <ion-item lines='none'>
      <ion-label>未完成功能</ion-label>
    </ion-item>
    <ion-item lines='none'>
      <ion-text lines='none'>
        <li><b>界面优化：</b>一些界面还不够美观，有优化的空间</li>
        <li><b>短信分享：</b>商品管理界面中，通过短信分享商品信息未实现，腾讯云只允许申请验证码类短信模板</li>
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-list inset='true'>
    <ion-item lines='none'>
      <ion-label>实训收获</ion-label>
    </ion-item>
    <ion-item lines='none'>
      <ion-text lines='none'>
        在这次实训之前，也有作过前端的开发，但是没有接触过nodejs和angular，这次实训的机会让我基本掌握了这些知识。也巩固了下前端的知识。学会了使用腾讯云发送短信、访问相册和摄像头。
      </ion-text>
    </ion-item>
  </ion-list>
  <ion-list inset='true'>
    <ion-item lines='none'>
      <ion-label>意见和建议</ion-label>
    </ion-item>
    <ion-item lines='none'>
      <ion-text lines='none'>
        在ionic官网上有看到，ionic除了支持angular也支持react、js和vue，希望能够使用vue这类比较新的好用的进行开发。并且现在跨平台开发还可以使用flutter，感觉用起来更灵活。
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>