.guide {
    height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
}
.guide ion-text {
    font-size: 10pt;
}
.login-text {
    font-size: 10pt;
    margin-top: 10%;
}
