<ion-header>
  <ion-toolbar no-border color="primary">
      <ion-buttons slot="start">
        <ion-back-button text="返回" color=""></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: center; margin-right: 20%;">找回密码</ion-title>
  </ion-toolbar>
  <ion-toolbar style="height: 35px; display: flex; align-items: center; text-align: center;">
    <ion-text style="font-size: 10pt;">
      1、输入邮箱或者手机号>2、输入验证码>3、重置密码
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #forgotPasswordSlides style="margin-top: 8%;">

    <!-- 输入邮箱或手机号 -->
    <ion-slide>
      <form style="width: 85%;" #phoneOrEmailForm="ngForm" (ngSubmit)="onSubmitPhoneOrEmail(phoneOrEmailForm)">
        <ion-list>
          <ion-item>
            <ion-input name="phoneOrEmail" type="text" placeholder="请输入您的手机号码或邮箱" required
                       [(ngModel)]="forgotpassword.phoneOrEmail" #phoneOrEmail="ngModel" style="font-size: 10pt;">
            </ion-input>
          </ion-item>
          
          <div class="ion-padding-horizontal" style="margin-top: 10%;">
            <ion-button type="submit" expand="full" color="primary">提交</ion-button>
          </div>
        </ion-list>
      </form>
    </ion-slide>

    <!-- 发送验证码 -->
    <ion-slide>
      <form style="width: 85%;" #codeForm="ngForm" (ngSubmit)="onSubmitCode(codeForm)">
        <ion-list>
          <ion-item>
            <ion-input name='code' type="string" placeholder="输入验证码" required 
                       [(ngModel)]="forgotpassword.code" #code="ngModel" style="font-size: 10pt;"></ion-input>
            <ion-button color="primary" expand="full" slot="end" style="height: 75%;" (click)="onSendSMS()" [disabled]="!clickSendSMS">{{timerTxt}}</ion-button>
          </ion-item>
          
          <div class="ion-padding-horizontal">
            <ion-button expand="full" color="primary" (click)="onPrevious()">上一步</ion-button>
          </div>

          <div class="ion-padding-horizontal">
            <ion-button name="codebtn" type="submit" expand="full" color="primary">下一步</ion-button>
          </div>
        </ion-list>
      </form>
    </ion-slide>

    <!-- 详细信息 -->
    <ion-slide>
      <form style="width: 85%;" #passwordForm="ngForm" (ngSubmit)="onSubmitPassword(passwordForm)">
        <ion-list>
          
          <ion-item>
            <ion-input name='password' type="password" placeholder="请输入新的密码" required
                      pattern="(?!^\d+$)(?!^[A-Za-z]+$)(?!^[^A-Za-z0-9]+$)(?!^.*[\u4E00-\u9FA5].*$)^\S{6,16}$" 
                      [(ngModel)]="forgotpassword.password" #password="ngModel" style="font-size: 10pt;"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input name='confirmPassword' type="password" placeholder="请输入确认密码" required 
                      [(ngModel)]="forgotpassword.confirmPassword" #confirmPassword="ngModel" style="font-size: 10pt;"></ion-input>
          </ion-item>

          <div class="ion-padding-horizontal">
            <ion-button expand="full" color="primary" disable="true" (click)="onPrevious()">上一步</ion-button>
          </div>

          <div class="ion-padding-horizontal">
            <ion-button type="submit" expand="full" color="primary">下一步</ion-button>
          </div>
        </ion-list>
      </form>
    </ion-slide>

    <!-- 注册成功 -->
    <ion-slide>
      <div class="ion-padding-horizontal">
        <img src="../../../assets/img/signup/registered_four_four.png" alt="" style="width: 120px; margin-top: 5%;">
        <div style="font-size: 10pt; margin-top: 10%;">密码修改成功，{{second2}}s后跳转到登录页</div>
      </div>
    </ion-slide>
  </ion-slides> 
</ion-content>
