ion-grid, ion-col, ion-row, ion-list {
    padding: 0;
}
ion-grid {
    height: 100%;
    align-items: stretch;
    ion-row {
        flex: 1 0 100%;
        height: 100%;
        ion-col[left] {
            background-color: var(--ion-color-light);
        }
    }
}
.list-footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    border-top: 1px solid #ccc;
}
.item-active{
    border-left-color: var(--ion-color-syzj);
    border-left-width: 4px;
    border-left-style: solid;
}
ion-button {
    --box-shadow: none;
}