.ion-text-center {
    text-align: center;
}
.storageNum{
    margin-left: 3%;
}
.detail {
    font-size: small;
}
.total {
    font-size: small;
}
.total span {
    color: #000;
    margin: 0 5px;
}
.noticeEnd {
    text-align: center;
    margin: 10px auto;
    color: #666;
    font-size: small;
}