.ion-text-center {
    text-align: center;
}
.storageNum {
    margin-left: 3%;
}
.detail {
    font-size: small;
}
.total {
    font-size: small;
}
.total span {
    color: #000;
    margin: 0 5px;
}
.noticeEnd {
    text-align: center;
    margin: 10px auto;
    color: #666;
    font-size: small;
}
.sc-ion-searchbar-md-h {
    --box-shadow: none;
}
ion-button {
    --box-shadow: none;
}
.share {
    border: var(--ion-color-syzj) 1px solid;
    border-radius: 50%;
    padding: 3px;
}