<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="返回" default-href="passport/login"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <img class="logo" src="../../../assets/img/signup/logo.png" alt="">
  </div>
  <ion-grid style="margin-top: 3%; width: 85%;">
    <ion-row>
      <ion-col>
        <img src="../../../assets/img/signup/registered_one.png" alt="" *ngIf='!isActive(0)'>
        <img src="../../../assets/img/signup/registered_one_one.png" alt="" *ngIf='isActive(0)'>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <hr>
      </ion-col>
      <ion-col>
        <img src="../../../assets/img/signup/registered_two.png" alt="" *ngIf='!isActive(1)'>
        <img src="../../../assets/img/signup/registered_two_two.png" alt="" *ngIf='isActive(1)'> 
      </ion-col>
      <ion-col class="ion-align-self-center">
        <hr>
      </ion-col>
      <ion-col>
        <img src="../../../assets/img/signup/registered_three.png" alt="" *ngIf='!isActive(2)'>
        <img src="../../../assets/img/signup/registered_three_three.png" alt="" *ngIf='isActive(2)'>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <hr>
      </ion-col>
      <ion-col>
        <img src="../../../assets/img/signup/registered_four.png" alt="" *ngIf='!isActive(3)'>
        <img src="../../../assets/img/signup/registered_four_four.png" alt="" *ngIf='isActive(3)'>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides #signupSlides>

    <!-- 电话号码 -->
    <ion-slide>
      <form style="width: 85%;" #phoneForm="ngForm" (ngSubmit)="onSubmitPhone(phoneForm)">
        <ion-list>
          <ion-item>
            <ion-label position="floating" style="color: #aaa;">请输入您的手机号码</ion-label>
            <ion-input name="phone" type="text" inputmode="tel"
                        required  [xslPhonePattern]
                        [(ngModel)]="signup.phone" #phone="ngModel" style="font-size: 10pt;">
            </ion-input>
          </ion-item>

          <ion-text class="ion-text-left" color="danger" *ngIf="phone.invalid && phone.touched">
            <p *ngIf="phone.errors?.required" style="font-size: 10pt;">请输入手机号码</p>
            <p *ngIf="phone.errors?.pattern" style="font-size: 10pt;">您输入的手机号格式不正确</p>
            <p *ngIf="phoneValid" style="font-size: 10pt;">该手机号已被注册</p>
          </ion-text>
          
          <div class="ion-padding-horizontal">
            <ion-button type="submit" expand="full" color="syzj" [disabled]="phoneForm.invalid">下一步</ion-button>
          </div>
        </ion-list>
      </form>
    </ion-slide>

    <!-- 发送验证码 -->
    <ion-slide>
      <form style="width: 85%;" #codeForm="ngForm" (ngSubmit)="onSubmitCode(codeForm)">
        <ion-list>
          <ion-item>
            <ion-label position="floating" style="color: #aaa;">请输入验证码</ion-label>
            <ion-input name='code' type="string" required inputmode="numeric"
                        [(ngModel)]="signup.code" #code="ngModel" style="font-size: 10pt;"></ion-input>
            <ion-button color="syzj" expand="full" slot="end" style="height: 75%;" (click)="onSendSMS()" [disabled]="!clickSendSMS">{{timerTxt}}</ion-button>
          </ion-item>

          <ion-text class="ion-text-left" color="danger" *ngIf="code.touched">
            <p *ngIf="code.errors?.required" style="font-size: 10pt;">请输入验证码</p>
          </ion-text>
          
          <ion-text class="ion-text-left" color="danger" *ngIf="clickCodeBtn">
            <p *ngIf="!onValidateCode()" style="font-size: 10pt;">您输入的验证码不正确</p>
          </ion-text>
          
          <div class="ion-padding-horizontal">
            <ion-button expand="full" color="syzj" (click)="onPrevious()">上一步</ion-button>
          </div>

          <div class="ion-padding-horizontal">
            <ion-button name="codebtn" type="submit" expand="full" color="syzj" [disabled]="codeForm.invalid">下一步</ion-button>
          </div>
        </ion-list>
      </form>
    </ion-slide>

    <!-- 详细信息 -->
    <ion-slide>
      <form style="width: 85%;" #detailForm="ngForm" (ngSubmit)="onSubmitDetail(detailForm)">
        <ion-list>
          <ion-item>
            <ion-label position="floating" style="color: #aaa;">请输入店铺的名称</ion-label>
            <ion-input name='shopName' type="string" required 
                       [(ngModel)]="signup.shopName" #shopName="ngModel" style="font-size: 10pt;"></ion-input>
          </ion-item>
          <ion-text class="ion-text-left" color="danger" *ngIf="shopName.touched">
            <p *ngIf="shopName.errors?.required" style="font-size: 10pt;">店铺名不能为空</p>
            <p *ngIf="!shopName.errors?.required && !onValidateShopName()" style="font-size: 10pt;">店铺名请在8个字以内</p>
          </ion-text>

          <ion-item>
            <ion-label position="floating" style="color: #aaa;">请输入电子邮箱</ion-label>
            <ion-input name='email' type="email" required 
                       pattern="^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$" 
                       [(ngModel)]="signup.email" #email="ngModel" style="font-size: 10pt;"></ion-input>
          </ion-item>
          <ion-text class="ion-text-left" color="danger" *ngIf="email.touched">
            <p *ngIf="email.errors?.pattern" style="font-size: 10pt;">您输入的邮箱格式不正确</p>
            <p *ngIf="email.errors?.required" style="font-size: 10pt;">邮箱不能为空</p>
          </ion-text>

          <ion-item>
            <ion-label position="floating" style="color: #aaa;">请输入登陆密码</ion-label>
            <ion-input name='password' type="password" required [xslPasswordPattern]
                        [(ngModel)]="signup.password" #password="ngModel" style="font-size: 10pt;"></ion-input>
          </ion-item>
          <ion-text class="ion-text-left" color="danger" *ngIf="password.touched">
            <p *ngIf="password.errors?.pattern" style="font-size: 10pt;">密码长度6-16位，由数字、英文、符号三种字符类型构成，至少包含两种类型字符</p>
            <p *ngIf="password.errors?.required" style="font-size: 10pt;">密码不能为空</p>
          </ion-text>
          
          <ion-item>
            <ion-label position="floating" style="color: #aaa;">请输入确认密码</ion-label>
            <ion-input name='confirmPassword' type="password" required [xslConfirm]="password.value"
                        [(ngModel)]="signup.confirmPassword" #confirmPassword="ngModel" style="font-size: 10pt;"></ion-input>
          </ion-item>

          <ion-item *ngIf="confirmPassword.invalid && confirmPassword.touched" lines="none">
            <ion-text color="danger" *ngIf="confirmPassword.errors?.confirm" style="font-size: 10pt;">
              两次密码不一致
            </ion-text>
            <ion-text color="danger" *ngIf="confirmPassword.errors?.required" style="font-size: 10pt;">
              请输入确认密码
            </ion-text>
          </ion-item>

          <div class="ion-padding-horizontal">
            <ion-button expand="full" color="syzj" disable="true" (click)="onPrevious()">上一步</ion-button>
          </div>

          <div class="ion-padding-horizontal">
            <ion-button type="submit" expand="full" color="syzj" [disabled]="detailForm.invalid">下一步</ion-button>
          </div>
        </ion-list>
      </form>
    </ion-slide>

    <!-- 注册成功 -->
    <ion-slide>
      <div class="ion-padding-horizontal">
        <ion-text>
          注册成功
        </ion-text>
        <ion-button (click)="onLogin()" expand="full" color="syzj">
          登录
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
  <xsl-copyright [bottom]="'20px'"></xsl-copyright>
</ion-content>
