<ion-header class="ion-no-border">
  <ion-toolbar color="syzj">
    <ion-title>店主</ion-title>
    <ion-button routerLink="/setting" slot="end" color="syzj">
      <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="nopadding">
    <ion-item color="syzj">
      <ion-label>
        <ion-text>
          <p class="name">{{name}}</p>
        </ion-text>
        <p>{{phone}}</p>
      </ion-label>
      <ion-badge slot="end" color="syzj">高级版</ion-badge>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
      <ion-item detail [routerDirection]="'root'" [routerLink]="[p.url]">
        <ion-icon slot="start" [name]="p.icon"></ion-icon>
        <ion-label>
          {{p.title}}
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
</ion-content>