.list-md {
    background-color: var(--ion-color-light);
}

ion-item {
    --background: var(--ion-color-light);
}
.subcategory {
    margin-top: 20px;
}
.subcategory-detail {
    margin-left: 10px;
}