ion-item-divider ion-label {
    color: #000;
}

ion-item-divider {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-md {
    background-color: var(--ion-color-light);
}

