<ion-header class="ion-no-border">
  <ion-toolbar color="syzj">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form (ngSubmit)="onSave()" #categoryaddForm="ngForm" novalidate>
    <ion-list class="nopadding">
      <ion-item-divider *ngIf="id != 0" color="light">
        <ion-label>
          {{name}}
        </ion-label>
      </ion-item-divider>
      <ion-item-divider *ngIf="id == 0" class="sort">
        <ion-label position="fixed">大分类</ion-label>
        <ion-input name="catName" type="text" required placeholder="商品大分类名称" [(ngModel)]="category.name"></ion-input>
      </ion-item-divider>
      <ion-item-divider *ngFor="let c of category?.children" class="sort">
        <ion-label position="fixed">小分类</ion-label>
        <ion-input name="category.children{{c.id}}" type="text" required placeholder="商品小分类名称" [(ngModel)]="c.name">
        </ion-input>
      </ion-item-divider>
      <ion-item-divider (click)="onAddSubCategory()" color="light">
        <ion-icon slot="start" name='add-circle' color="syzj" class="newsort"></ion-icon>
        <ion-label>新增小分类</ion-label>
      </ion-item-divider>
    </ion-list>
    <ion-button type="submit" expand="full" color="syzj" [disabled]="categoryaddForm.invalid">保存</ion-button>
  </form>

</ion-content>