.less-equal {
    color: var(--ion-color-success, #10dc60);
}
.greater {
    color: var(--ion-color-danger, #f04141);
}
.grid {
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    .grid-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 25vw;
        border-top: 1px solid #ececec;
        border-right: 1px solid #ececec;
        div {
            margin-top: 9px;
            text-align: center;
        }
    }
}
ion-title {
    margin-left: 25%;
}
.label {
    font-size: 50%;
}
.title {
    font-size: 70%;
}
.number {
    font-size: 50%;
}
.hometext {
    font-size: 15px;
}
.homeimg {
    width: 40px;
}