/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*设置安卓安全区域top高度 预留出状态栏区域*/
:root {
    .md{
      --ion-safe-area-top: 15px;
    }
}

ion-title {
    text-align: center;
    margin-right: 20%;
}

.nopadding {
    padding: 0;
}

.label-floating.sc-ion-label-md-h {
    color: #aaa;
}

.item-has-focus .label-floating.sc-ion-label-md-h:not(.ion-color) {
    color: #aaa;
}

/* actionSheetController 样式 */
.ascCss {
    .action-sheet-group {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        margin-bottom: 5px;
        background-color:rgba(255,255,255,0.9);

        .action-sheet-title {
            color: #000;
            background: #fefef9;
            text-align: center;
            border-bottom: solid 1px #ccc;
        }

        .action-sheet-button-inner.sc-ion-action-sheet-md {
            justify-content: center;
        }

        .disable-hover {
            border-top: 1px solid #e1dce6;

            .button-inner {
                .icon {
                    color: #ccc;
                }
            }
        }

        .action-sheet-cancel {
            margin-bottom: 0px;
            background-color:rgba(255,255,255);
        }
    }

    .action-sheet-group:last-child {
        padding-bottom: 0;
    }
}

/* 单个按钮alter样式 */
.oneBtn {
    .alert-wrapper {
        border-radius: 10px;
    }

    .alert-title {
        text-align: center;
        margin-top: -10px;
    }

    .alert-button-group {
        padding: 0;
        border-top: 1px solid #e1dce6;
        justify-content: center;
    }

    .alert-message {
        max-height: 240px;
        text-align: center;
    }

    .alert-button-inner.sc-ion-alert-md {
        justify-content: center !important;
    }

    .alert-button {
        width: 100%;
        margin: 0;
    }
}

/* 两个按钮alter样式 */
.twoBtn {
    .alert-wrapper {
        border-radius: 10px;
    }

    .alert-title {
        text-align: center;
        font-size: 13pt;
    }

    .alert-button-group {
        padding: 0;
        border-top: 1px solid #e1dce6;
        justify-content: center;
    }

    .alert-message {
        max-height: 240px;
        text-align: center;
    }

    .alert-button-inner.sc-ion-alert-md {
        justify-content: center !important;
    }
    
    .alert-button {
        width: 50%;
        border-left: 1px solid #e1dce6;
        margin: 0;
        .button-inner {
            justify-content: center;
        }
    }
}
