<ion-header class="ion-no-border">
  <ion-toolbar color="syzj">
    <ion-title>修改密码</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #passwordForm="ngForm" (ngSubmit)="onSubmitPassword(passwordForm)" style="display: flex;justify-content: center;">
    <ion-list style="width: 85%;">
      <ion-item style="margin-top: 10%;">
        <ion-label position="floating">请输入旧密码</ion-label>
        <ion-input name='oldpassword' type="password" required
                   [(ngModel)]="changepassword.oldPassword" #oldpassword="ngModel"></ion-input>
      </ion-item>
      <ion-text class="ion-text-left" color="danger" *ngIf="oldpassword.touched">
        <p [hidden]="!oldpassword.errors?.required">旧密码不能为空</p>
      </ion-text>
      <ion-item style="margin-top: 5%;">
        <ion-label position="floating">请输入新密码</ion-label>
        <ion-input name='newpassword' type="password" required [xslPasswordPattern]
                   [(ngModel)]="changepassword.newPassword" #newpassword="ngModel"></ion-input>
      </ion-item>
      <ion-text class="ion-text-left" color="danger" *ngIf="newpassword.touched">
        <p [hidden]="!newpassword.errors?.pattern">密码长度6-16位，由数字、英文、符号三种字符类型构成，至少包含两种类型字符</p>
        <p [hidden]="!newpassword.errors?.required">密码不能为空</p>
      </ion-text>
      
      <ion-item style="margin-top: 5%;">
        <ion-label position="floating">请再输入一次</ion-label>
        <ion-input name='confirmPassword' type="password" required 
                   [(ngModel)]="changepassword.confirmPassword" [xslConfirm]="newpassword.value" #confirmPassword="ngModel"></ion-input>
      </ion-item>

      <ion-item *ngIf="confirmPassword.invalid && confirmPassword.touched" lines="none">
        <ion-text color="danger" *ngIf="confirmPassword.errors?.confirm">
          两次密码不一致
        </ion-text>
        <ion-text color="danger" *ngIf="confirmPassword.errors?.required">
          请输入确认密码
        </ion-text>
      </ion-item>
      <div class="ion-padding-horizontal" style="margin-top: 10%;;">
        <ion-button type="submit" expand="full" color="syzj" disable=true [disabled]="passwordForm.invalid">确定</ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>
